

label.checked,
label.unchecked,
label.selected,
label.unselected{
                  position:relative;
                  display:block;
                  padding:0.5em;
                  padding-left:32px;
                  background-repeat:no-repeat;
                  border:0px solid #252525;

                  clear:both;
                  cursor:pointer
                  }

label.checked{
                background-color: #CDCDCD;
                background-image:url(../images/chk_on.png);
                font-size: 10px;
            }

label.unchecked{
                background-color: white;
                /* background-image:url(../images/circle.png); */
                 }

label.selected{
               background-image:url(../images/rdo_on.png);
                }

label.unselected{
               background-image:url(../images/rdo_off.png);
                  }

