

label.checked,
label.unchecked,
label.selected,
label.unselected{
                  display:block;
                  padding:0.75em;
                  padding-left:32px;
                  background-repeat:no-repeat;
                  border:0px solid #252525;
                  clear:both;
                  cursor:pointer
                  }

label.checked{
              /*background-image:url(../images/chk_on.png); */
                background-image:url(../images/on_round.png); 
                color:black;                
                font-size: 12px;
            }

label.unchecked{
                background-color: white;
                background-image:url(../images/off_round.png); 
                 }

label.selected{
               background-image:url(../images/rdo_on.png);
                }

label.unselected{
               background-image:url(../images/rdo_off.png);
                  }

