<style type="text/css" media="screen">
  label.checkbox_checked, label.radio_checked {
  	background: #d1f899;
  	border: 1px solid #c2e78c;
  	color: #7a9751;
  	padding: 5px;
  	margin: 3px;
  }
  label.checkbox_unchecked, label.radio_unchecked  {
  	background: #eee;
  	border: 1px solid #e5e5e5;
  	color: #979797;
  	padding: 5px;
  	margin: 3px;
  }
  label.checkbox_checked:hover, label.radio_checked:hover{
  	background: #c8ed92;
  }
  label.checkbox_unchecked:hover, label.radio_unchecked:hover {
  	background: #e4e4e4;
  }


  /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
  /* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
  .crirHidden {
  	position: absolute;
  	left: -1000px;
  }
  /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

  
  h1 {
  color: #9ba9b4;
  background: #e5eff8;
  font-size: 2.5em;
  letter-spacing: .1em;
  margin: 1em 0 0 0;
  padding: 0;
  caption-side: top;
  text-align: center;
  }
</style>
