<h1>Editing option</h1>

<%= render 'form' %>

<%= link_to 'Show', @option %> |
<%= link_to 'Back', options_path %>
<%= link_to("Delete", @option, :confirm => 'Are you sure?', :method => :delete ) if current_user.is_admin? %>


