  <table class="favorites_list">
    <caption>Favorite Procedures</caption>
     <% @favorites.in_groups_of(4,false) do |favs| %>
      <tr class="favorites_toggled_area">
        <% favs.each do | procedure | %>                                                  

          <td id="procedure_code[<%=lookup_procedure_code(procedure).id%>]" noteRequired="<%= lookup_procedure_code(procedure).note_required %>">
            <%= get_procedure_name(procedure) %>
          </td>
        <% end %>
      </tr>
    <%end%>
  <!--  
    <tr class="favorites_toggled_area">
      <td><%= submit_tag 'Add' %></td>
    </tr>
  -->
  </table>