<ul data-role="listview">
  
<div data-role="listview" data-theme="g">
    <% get_unrecorded_charges(charges).each do |charge| %>
          <li>
            <%= get_info(charge.procedure_code).inspect %><!-- .procedure_name %> -->
            <%= charge.doctor %>

            <%= link_to 'Home', charge, "data-icon" => "delete", "class" => "ui-btn-left", :method => :delete %>
            
          </li>
<%end%>
</ul>